.contenedor{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: space-around;
  
    background-color: antiquewhite;
    width: 600px;
    height: 400px;
    margin: 30px;
}
.elemento1,.elemento2,.elemento3,.elemento4{
    background-color: azure;
    height: 75px;
    width: 75px;

    padding: 15px;

    margin: 10px;
}
